<h3 class="page-heading">
	AmLight’s SDN Looking Glass
</h3>

<p>
Central point for SDN troubleshooting:
</p>
<p>
Centralizes all monitoring and troubleshooting information being slice/app-independent
</p>
<p>Stores all statistical data (flow, ports, etc.) and OpenFlow messages into a persistent backend
</p>
<p>Tracks real time OpenFlow control plane messages
</p>
<p>Tracks non-OpenFlow information (for instance, CPU utilization)
</p>
<p>Supports active and passive topology discovery (LLDP or input file)
</p>