<div class="editor-row">
	<div class="section gf-form-group">
		<h5 class="section-heading">Trace active color</h5>
		<div class="gf-form">
            <spectrum-picker class="gf-form-input" ng-model="ctrl.panel.traceColor" ng-change="ctrl.onEdit()" ></spectrum-picker>
        </div>
    </div>
</div>
<div class="editor-row">
	<div class="section gf-form-group">
		<h5 class="section-heading">Trace Control plane active color</h5>
		<div class="gf-form">
            <spectrum-picker class="gf-form-input" ng-model="ctrl.panel.tracecpColor" ng-change="ctrl.onEdit()" ></spectrum-picker>
        </div>
    </div>
</div>